.Carousel
{
    position: relative;

    display: inline-flex;
    align-items: center;
    flex-direction: column;

    text-align: left;
}

.arrowLeft,
.arrowRight
{
    position: absolute;
    top: 50%;

    width: 23px;
    height: 36px;
    padding: 36px 11px;

    cursor: pointer;
    transform: translate(0, -50%);

    background-repeat: no-repeat, no-repeat;
    background-clip: content-box, padding-box;
}

.arrowLeft
{
    left: -46px;

    background-image: url('./icon-arrows.png'), linear-gradient(to right, rgba( 0, 0, 0, .3) 5%, rgba( 0, 0, 0, 0) 95%);
    background-position: -12px 50%, 0 0;
}

.arrowLeft:hover
{
    background-image: url('./icon-arrows.png'), linear-gradient(to right, rgba( 171, 218, 244, .3) 5%,rgba( 171, 218, 244, 0) 95%);
}

.arrowRight
{
    right: -46px;

    background-image: url('./icon-arrows.png'), linear-gradient(to right, rgba( 0, 0, 0, 0) 5%, rgba( 0, 0, 0, .3) 95%);
    background-position: 12px 50%, 0 0;
}

.arrowRight:hover
{
    background-image: url('./icon-arrows.png'), linear-gradient(to left, rgba( 171, 218, 244, .3) 5%,rgba( 171, 218, 244, 0) 95%);
}

.items
{
    position: relative;
}

.item
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;
    visibility: hidden;

    transition: opacity .25s, visibility .25s ease-out;

    opacity: 0;
}

.item:first-child
{
    position: relative;
}

.itemFocused
{
    z-index: 1;

    visibility: visible;

    transition: opacity .15s, visibility .15s ease-in;

    opacity: 1;
}

.thumbs
{
    /* */
    text-align: center;
}

.thumb
{
    display: inline-block;

    width: 15px;
    height: 9px;
    margin: 12px 2px;

    cursor: pointer;
    transition: background-color .2s;

    border-radius: 2px;
    background-color: hsla(202,60%,100%,.2);
}

.thumb:hover
{
    background-color: hsla(202,60%,100%,.3);
}

.thumbFocused
{
    background-color: hsla(202,60%,100%,.4);
}

.arrowLeft,
.arrowRight
{
    /* */
}

.arrowLeft
{
    /* */
}

.arrowRight
{
    /* */
}
