.userProfileMenu
{
    padding: 6px 0;

    border: 1px solid #171a21;
    background-color: #171a21;
}

.userProfileMenuItem
{
    font-size: 13px;
    font-weight: normal;
    line-height: normal;

    display: block;

    padding: 5px 12px;

    cursor: pointer;
    text-align: left;
    white-space: nowrap;
    text-decoration: none;
    text-transform: none;

    color: #b8b6b4;
    background-color: #171a21;

    compose: fontFamilyMenu from '../common/styles/typography.css';
}

.userProfileMenuItem:hover
{
    color: #fff;
}
